.navbar {
  background: #424242;
  width: 100vw;
  height: 100px;
  text-align: center;
  margin: 0;
float: none;
}


li {
  list-style: none;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block !important;
    float: none;
    
}

li a {
  color: #FFF;
    display: inline-block;
    text-align: center;
    float: none;
    
}

ul {
  -webkit-padding-start: 0 !important;
    display: inline-block;
    float: none !important;
    font-size: 24px;
    margin-top: 20px !important;
}

.container-fluid {
    height: 300px;
    width: 400px;
    margin-top: 120px;
    
}

.bg-1 {
    background-image: url(../imgs/galaxy.png);
}
    